@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/*=====================mobile first page layout================*/
/*-------------------------
  --welcome (with full screen bg)-----
  --welcome---------
  --welcome (full page)---------
  -----works (full second page)------------
  -----------works----------
  -----------works-----------
  -------(fixed nav)----------
  -----------footer------------- 
*/

/*===============desktop page layout============*/
/*------------banner---------
  ----------nav--------------
  --------main(articles)-----
  ------article--------------
  ----------article----------
  ----------footer-----------
*/
/* =============CSS reset=================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration:none;
}
/*===========================================================*/

/*=============globals===================*/

*, *::before {
    box-sizing:border-box;
    margin:0;
}

html {
    font-size:16px;
    font-family:'EB Garamond', serif;
    color:var(--col-4);
}

body {
    position:relative;
}
/*==============================*/
/*================colour======================*/

:root {
    --col-1:#FFFFFF;
    --col-2:#4d4dff;
    --col-3:#ff4d4d;
    --col-4:#e8e8fb;
    --col-5:#434355;
    --col-6:#3655b3;
    --col-7:#b33636;
    --col-8:#000000;

}
/*===========================================*/
/*===============welcome-section==================*/

#welcome-section {
    height:100vh;
    overflow:hidden;
    background-color:var(--col-8);
    position:relative;
}

#wel_1 {
    font-size:5rem;
    font-weight:600;
    position:absolute;
    animation-name:fade_in_from_left;
    animation-timing-function: ease-in-out;
    top:30%;
    animation-duration:3s;
    animation-fill-mode:both;
    
}
#wel_2 {
    font-size:3rem;
    font-weight:600;
    position:absolute;
    top:50%;

    animation-name:fade_in_from_left;
    animation-direction:reverse;
    animation-timing-function: ease-in-out;

    animation-duration:3s;
    animation-delay:3500ms;
    animation-fill-mode:both;

}
#name {
    font-size:4rem;
    font-weight:600;
    font-style:italic;
    color:var(--col-2);
    position:absolute;
    animation-name:name_down;
    right: 1rem;
    animation-duration:1s;
    animation-delay:7s;
    animation-fill-mode: both;
    z-index:2;
}
#wel_img {
    width:100%;
    height:auto;
    position:absolute;
    animation-name:img_fade_up;
    animation-duration:1s;
    animation-delay:7500ms;
    animation-fill-mode: both;
}

.beam {
    content:'';
    position:absolute;
    opacity:30%;
    background-color:antiquewhite;
    transform: perspective(10px) rotateX(-1deg);
    height:500px;
    width:100px;

}

.beam::before {
    position:absolute;
}

#beam1 {
    bottom: 0;
    left:20%;
}

#beam2 {
    bottom: 0;
    right: 20%;
}
@keyframes fade_in_from_left {
    0% {
        opacity:0%;
    }

    5% {
        opacity:0%;


        left:0;
    }

    30% {
        opacity:100%;

        left:10%;
    }

    70% {
        opacity:100%;

        left:10%;
    }

    95% {
        opacity:0%;

        left:30%;
    }

    100% {
        opacity:0%;
    }
}

@keyframes name_down {
    0% {
        opacity: 0%;

        top:50%;
    }
    100% {
        opacity: 100%;

        top:70%;
    }


}

@keyframes img_fade_up {
    0% {
        opacity:0%;
        bottom:0;
    }
    100% {
        opacity:100%;
        bottom:20%;
    }
}
/*=============================================*/

/*===============projects==================*/
#projects {
    position:relative;
    height:100vh;
    background-color:var(--col-8);
    overflow:hidden;

}
#proj_title {
    position:relative;
    font-weight:600;
    font-style:italic;
    font-size:2rem;
    top:5%;
    left:5%;
}
.tile_title {
    font-weight:600;
    font-size:2rem;
    font-style:italic;
}
.project-tile {
    height:500px;
    width:100%;
    background-color:var(--col-8);
    position:absolute;
    padding:5%;
    font-size:1.5rem;
}

#GTA {
    top:10%;
    left:0;
    animation-name:wheel;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-direction:backwards;
    animation-iteration-count: infinite;
    transform-origin: -100% -100%;
}

#music {
    top:10%;
    left:0;
    animation-name:wheel;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:backwards;
    animation-delay:-5s;
    transform-origin: -100% -100%;
}

#sales {
    top:10%;
    left:0;
    animation-name:wheel;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:backwards;
    animation-delay:-10s;
    transform-origin: -100% -100%;
}

#police {
    top:10%;
    left:0;
    animation-name:wheel;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:backwards;
    animation-delay:-15s;
    transform-origin: -100% -100%;
}
@keyframes wheel {
    0% {
        transform:rotate(0deg);
        z-index:-1;
    }

    15% {
        transform:rotate(90deg);

    }

    30% {
        transform:rotate(180deg);
    }
    70% {
        transform:rotate(270deg);
        z-index:2;
    }

    73% {
        transform:rotate(360deg);

    }


    100% {
        transform:rotate(360deg);

    }
}
/*=============================================*/

/*===============nav==================*/
#navbar {
    position:fixed;
    bottom:0;
    left:0;
    z-index:10;

    width:60%;
}
#navbar a {
    position:relative;
    color:var(--col-4);
    font-size:2rem;
    display:block;
    padding:0.5rem;

}

#navbar a:hover {
    color:var(--col-5);
}

#navbar a:active {
    color:var(--col-3);
}
#highlights {
    animation-name:fade_left;
    animation-duration: 500ms;
    animation-delay: 7500ms;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
}

#profile-link {
    animation-name:fade_left;
    animation-duration: 500ms;
    animation-delay: 7750ms;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
}

#contact {
    animation-name:fade_left;
    animation-duration: 500ms;
    animation-delay: 7900ms;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
}
@keyframes fade_left {
    0% {
        opacity:0%;
        right:20%;
    }

    100% {
        opacity:100%;
        right:0;
    }
}
/*=============================================*/
