@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/*=====================mobile first page layout================*/
/*-------------------------
  --welcome (with full screen bg)-----
  --welcome---------
  --welcome (full page)---------
  -----works (full second page)------------
  -----------works----------
  -----------works-----------
  -------(fixed nav)----------
  -----------footer------------- 
*/

/*===============desktop page layout============*/
/*------------banner---------
  ----------nav--------------
  --------main(articles)-----
  ------article--------------
  ----------article----------
  ----------footer-----------
*/
/* =============CSS reset=================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration:none;
}
/*===========================================================*/

/*=============globals===================*/

*, *::before {
    box-sizing:border-box;
    margin:0;
}

html {
    font-size:16px;
    font-family:'EB Garamond', serif;
    color:var(--col-4);
}

body {
    position:relative;
    background-color: var(--col-5);
}
main {
    position:relative;
    max-width:600px;
    margin:0 auto;

}
/*==============================*/
/*================colour======================*/

:root {
    --col-1:#FFFFFF;
    --col-2:#4d4dff;
    --col-3:#ff4d4d;
    --col-4:#e8e8fb;
    --col-5:#434355;
    --col-6:#3655b3;
    --col-7:#b33636;
    --col-8:#000000;

}
/*===========================================*/
/*===============welcome-section==================*/

#welcome-section {
    height:100vh;
    overflow:hidden;
    background-color:var(--col-8);
    position:relative;
}

#wel_1 {
    font-size:5rem;
    font-weight:600;
    position:absolute;
    animation-name:fade_in_from_left;
    animation-timing-function: ease-in-out;
    top:30%;
    animation-duration:3s;
    animation-fill-mode:both;
}

#wel_2 {
    font-size:3rem;
    font-weight:600;
    position:absolute;
    top:50%;
    animation-name:fade_in_from_left;
    animation-direction:reverse;
    animation-timing-function: ease-in-out;
    animation-duration:3s;
    animation-delay:3500ms;
    animation-fill-mode:both;
}

#name {
    font-size:4rem;
    font-weight:600;
    font-style:italic;
    color:var(--col-4);
    position:absolute;
    animation-name:name_down;
    right: 1rem;
    animation-duration:1s;
    animation-delay:7s;
    animation-fill-mode: both;
    z-index:2;
}

#wel_img {
    width:100%;
    height:auto;
    position:absolute;
    animation-name:img_fade_up;
    animation-duration:1s;
    animation-delay:7500ms;
    animation-fill-mode: both;
}

.beam {
    content:'';
    position:absolute;
    opacity:30%;
    background-color:antiquewhite;
    transform:perspective(8px) rotateX(1deg);
    height:500px;
    width:100px;
    box-shadow:0 0 5px antiquewhite;

}

.beam::before {
    content:'';
    position:absolute;
    bottom:-35px;
    left:0;
    width:100px;
    height:70px;
    opacity:default;
    border-radius:50%;
    background-color:antiquewhite;
    box-shadow:0 0 10px antiquewhite;
}

#beam1 {
    top: -20%;
    left:-30%;
    animation-name:beam1_rotate;
    animation-duration:4s;
    animation-fill-mode: both;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

#beam2 {
    top: -20%;
    right: -30%;
    animation-name:beam2_rotate;
    animation-duration:4s;
    animation-fill-mode: both;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

#desktop_img_carousel {
    height:300px;
    width:400px;
    position:absolute;
    top:20%;
    right:10%;
    display:none;
}

.car_img_wrap {
    position:absolute;
    height:100%;
    width:100%;
}

.car_img_wrap img{
    display:block;
    width:100%;
    height:auto;
    margin-top:auto;
    margin-bottom:auto;
}

#car_img_1 {
    animation-name:carousel_img_fade_up;
    animation-duration:15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#car_img_2 {
    animation-name:carousel_img_fade_up;
    animation-duration:15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay:-3s;
}

#car_img_3 {
    animation-name:carousel_img_fade_up;
    animation-duration:15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay:-6s;
}

#car_img_4 {
    animation-name:carousel_img_fade_up;
    animation-duration:15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay:-9s;
}

#car_img_5 {
    animation-name:carousel_img_fade_up;
    animation-duration:15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay:-12s;
}

@keyframes carousel_img_fade_up {

    0% {
        opacity:0%;
        bottom:-20%;
    }

    5% {
        opacity:100%;
        bottom:0;
    }

    15% {
        opacity:100%;
        bottom:0;
    }

    20% {
        opacity:0%;
        bottom:20%;
    }

    100% {
        opacity:0%;
        bottom:20%;
    }
}
@keyframes beam2_rotate {
    0%{
        transform:perspective(8px) rotateX(1deg) rotateZ(45deg);
    }
    50% {
        transform:perspective(8px) rotateX(1deg) rotateZ(-10deg);
    }
    100%{
        transform:perspective(8px) rotateX(1deg) rotateZ(45deg);
    }
}
@keyframes beam1_rotate {
    0%{
        transform:perspective(8px) rotateX(1deg) rotateZ(-45deg);
    }
    50% {
        transform:perspective(8px) rotateX(1deg) rotateZ(10deg);
    }
    100%{
        transform:perspective(8px) rotateX(1deg) rotateZ(-45deg);
    }
}
@keyframes fade_in_from_left {
    0% {
        opacity:0%;
    }

    5% {
        opacity:0%;
        left:0;
    }

    30% {
        opacity:100%;
        left:10%;
    }

    70% {
        opacity:100%;
        left:10%;
    }

    95% {
        opacity:0%;
        left:30%;
    }

    100% {
        opacity:0%;
    }
}

@keyframes name_down {
    0% {
        opacity: 0%;
        top:50%;
    }
    100% {
        opacity: 100%;
        top:70%;
    }
}

@keyframes name_fade_from_right {
    0% {
        opacity:0%;
        right:-20%;
    }
    100% {
        opacity:100%;
        right:1rem;
    }
}

@keyframes img_fade_from_left {
    0% {
        opacity:0%;
        left:-2rem;
    }
    100% {
        opacity:100%;
        left:3rem;
    }
}

@keyframes img_fade_up {
    0% {
        opacity:0%;
        bottom:10%;
    }
    100% {
        opacity:100%;
        bottom:20%;
    }
}
/*=============================================*/

/*===============projects==================*/
#projects {
    position:relative;
    height:100vh;
    width:100%;
    background-color:var(--col-8);
    overflow:hidden;
}

#proj_title {
    position:relative;
    font-weight:600;
    font-style:italic;
    font-size:2rem;
    top:5%;
    left:5%;
}

.tile_title {
    font-weight:600;
    font-size:2rem;
    margin:1rem 2rem 1.5rem 2rem;
    font-style:italic;
}

.ext_link_button{
    padding:2px 5px 2px 5px;
    position:relative;
    text-decoration:none;
    border-radius:2px;
    background-color:var(--col-4);
    color:var(--col-8);
}

.ext_link_button:hover{
    bottom:2px;
    right:2px;
    box-shadow:2px 2px 0 var(--col-5);
}

.ext_link_button:active {
    bottom:0;
    right:0;
    box-shadow:none;
    background-color:var(--col-2);
    color:var(--col-4);
}

.project-tile {
    padding-top:4rem;
    height:95%;
    width:100%;
    background-color:var(--col-8);
    position:absolute;
    font-size:1.5rem;
}

.project-tile p {
    margin:0.4rem;
}

#GTA {
    top:10%;
    left:0;
    animation-name:wheel;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-direction:backwards;
    animation-iteration-count: infinite;
    transform-origin: -100% -100%;
}

#GTA p {
    margin-left:2rem;
}

#GTA_img{
    display:block;
    width:100%;
    height:auto;
    margin:2rem 0 2rem 0;
}

#GTA_pitch{
    margin-bottom:2rem;
}

.proj_desc{
    margin-right:1rem;
    text-align:right;
}

#music {
    top:10%;
    left:0;
    animation-name:wheel;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:backwards;
    animation-delay:-5s;
    transform-origin: -100% -100%;
}

.store{
    margin:0.5rem;
    text-decoration: none;
    color:var(--col-4);
}

.store:hover {
    color:var(--col-5);
}

.store:active {
    color:var(--col-2);
}

#music_img {
    display:block;
    width:100%;
    height:auto;
    position:relative;
    margin-top:2rem;
    margin-bottom:2rem;
}

#song_title {
    margin-bottom:0.5rem;
    font-style:italic;
}

#sales {
    top:10%;
    left:0;
    animation-name:wheel;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:backwards;
    animation-delay:-10s;
    transform-origin: -100% -100%;
}

#sales figure {
    position:relative;
    height:210px;
    width:270px;
    margin:1rem 0 1rem 0;
}

.sales_img {
    width:100%;
    height:auto;
    margin-bottom:0.5rem;
}

#sales_smush {
    left:calc(100% - 2rem - 270px);
}

#sales_smush figcaption {
    text-align:right;
}

#sales_pekinese {
    left:2rem;
}

#police {
    top:10%;
    left:0;
    animation-name:wheel;
    animation-duration:20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:backwards;
    animation-delay:-15s;
    transform-origin: -100% -100%;
}

#police img {
    width:100%;
    height:auto;
    margin-bottom: 1rem;
}

@keyframes wheel {
    0% {
        transform:rotate(0deg);
        z-index:-1;
    }

    15% {
        transform:rotate(90deg);
    }

    30% {
        transform:rotate(180deg);
    }

    70% {
        transform:rotate(270deg);
        z-index:2;
    }

    73% {
        transform:rotate(360deg);
    }

    100% {
        transform:rotate(360deg);
    }
}
/*=============================================*/

/*===============nav==================*/

#navbar {
    position:fixed;
    background-color:var(--col-8);
    z-index:10;
    padding-top:1rem;
    left:50%;
    width:50%;
    max-width:300px;
}

#navbar a {
    position:relative;
    color:var(--col-4);
    font-size:1.5rem;
    display:block;
    padding:0.5rem;
    text-align:center;
}

#navbar a:hover {
    color:var(--col-5);
}

#navbar a:active {
    color:var(--col-2);
}

#highlights {
    animation-name:fade_left;
    animation-duration: 500ms;
    animation-delay: 7500ms;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
}

#profile-link {
    animation-name:fade_left;
    animation-duration: 500ms;
    animation-delay: 7750ms;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
}

#contact {
    animation-name:fade_left;
    animation-duration: 500ms;
    animation-delay: 7900ms;
    animation-timing-function: ease-out;
    animation-fill-mode:both;
}

@keyframes fade_left {
    0% {
        opacity:0%;
        right:20%;
    }

    100% {
        opacity:100%;
        right:0;
    }
}
/*=============================================*/
/*=============================================*/
@media only screen and (min-width:900px) {
    main {
        max-width:100%;
    }
    #wel_1{
        display:none;
        animation:none;
    }
    #wel_2{
        display:none;
        animation:none;
    }
    #name{
        animation-name:name_fade_from_right;
        animation-delay:0s;
        top: 85vh;
    }
    #wel_img{
        animation-name:img_fade_from_left;
        animation-delay:500ms;
        max-width:600px;
        display:block;
        position:relative;
        margin-top:5rem;
    }
    #beam1{
        display:none;
        animation:none;
    }
    #beam2{
        display:none;
        animation:none;
    }

    #highlights {
        animation-delay:500ms;
    }
    #profile-link {
        animation-delay:750ms;
    }
    #contact {
        animation-delay:1s;
    }
    #navbar {
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-evenly;
        max-width:100%;
    }
    #projects {
        height:min-content;
    }
    .project-tile{
        position:relative;
        width:50%;
        margin-top:6rem;
        margin-bottom:1rem;
    }
    #proj_title {
        display:none;
    }
    #GTA {
        animation:none;
        margin-left:40%;
    }
    #music {
        animation:none;
        margin-left:10%;
    }
    #sales {
        animation:none;
        margin-left:40%;
    }
    #police {
        animation:none;
        margin-left:10%;
    }
}

@media only screen and (min-width:1100px) {
    #desktop_img_carousel {
        display:block;
    }
}
/*=============================================*/
